@import "tailwindcss";

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.custom-swiper {
  bottom: -9px !important; /* Adjust this value as needed */
  z-index: 99;
  color: white;
}

.smally p {
  padding-right: 5px;
  font-weight: 400;
}

.cover {
  background-color: black;
  height: 100%;
  width: 100%;
  /* opacity: 0.8; */
}
